# Ignore Python-related files
__pycache__/
*.pyc

# Ignore dataset and runs folders
# These contain large files you don't need to track
ambulance/train/images/
ambulance/train/labels/
ambulance/val/images/
ambulance/val/labels/
ambulance/test/images/
ambulance/test/labels/
runs/